<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cnx" value="Persist Security Info=False;User ID=sa;Password=dominic;Initial Catalog=DBCursos;Data Source=.\SQLEXPRESS;" />
    <add key="cnxOleDB" value="Provider=SQLOLEDB.1;Password=dominic;Persist Security Info=True;User ID=sa;Initial Catalog=DBCursos;Data Source=.\SQLEXPRESS" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>